@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

$text: #2D2D32;
$accent-color-purple-1:#64629D;
$accent-color-purple-2:#9F9EC1;
$accent-color-purple-3:#EDECFC;
$accent-color-off-white:#F9F9F9;
$accent-color-white:#FFFFFF;
$accent-color-black:#000000;
$font-japanese:'Noto Sans JP', sans-serif;

$breakpoints: (
//キー:値
  "mp": "(max-width: 374px)", //374px以下（スマホ）用の表示
  "sp": "(max-width: 767px)", //767px以下（スマホ）用の表示
  "pc": "(min-width: 768px)" ,//768px以上（タブレット・PC）用の表示
  "bm": "(min-width: 1440px)" ,//1441px以上（Big Monitor）用の表示
) !default;


//メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

@mixin mq($breakpoint: bm) {
  //map-get(マップ型変数, キー)で値を取得
    @media #{map-get($breakpoints, $breakpoint)} {
      //この中をカスタムできる
      @content;
    }
  }

  @mixin mq($breakpoint: mp) {
    //map-get(マップ型変数, キー)で値を取得
      @media #{map-get($breakpoints, $breakpoint)} {
        //この中をカスタムできる
        @content;
      }
    }

html,
body{
  margin: 0;
  padding: 0;
  font-size:0.625vw;
  @include mq(sp) {
     font-size:62.5%;
  }
  @include mq(bm) {
    font-size:62.5%;
 }
 
}

body{
  line-height: 1.8;
  background-color: $accent-color-white;
  font-family: $font-japanese;
  color: $text;
  @include mq(sp) {
   line-height: 1.6;
  }
  
}

img{
  max-width: 100%;
  vertical-align: top;
}

li{
    list-style: none;
}

ul{
  padding-left: 0;
  margin: 0 0;
}

a{
  text-decoration: none;
  color: inherit;
  
}

dd{
  margin-left: 0;
}

a:hover{
  cursor: pointer;
  position: relative;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}